{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>区块链公益</h1>
    <p class="lead">通过区块链记录每一笔慈善捐款的流向</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">慈善之道 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>项目1</h2>
        <p>
            通过区块链。。。。。。
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目2</h2>
        <p>通过区块链完成了。。。。</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目3</h2>
        <p>区块链与公益结合</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
