{% extends "layout.html" %}
{% block content %}

    <style>
        header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 5px;
        }

        nav {
            line-height: 30px;
            background-color: #eeeeee;
            height: 300px;
            width: 200px;
            float: left;
            padding: 5px;
        }

        section {
            width: 350px;
            float: left;
            padding: 10px;
        }

        footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
        }
    </style>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js">
</script>
<nav>
    <a href="#usermessage" id="hu">个人信息</a><br>
    <a href="#donate" id="hd">捐款</a><br>
    <a href="#record" id="hr">查看记录</a><br>
    <a href="#foundation" id="hf">查看基金会记录</a><br>
</nav>

<div id="usermessage" data-role="page">
    <p>usermessage</p>
    <!--<p>{{ account }}</p>-->
</div>
{% if account_type == 0 %}
    <div id="donate" data-role="page" style="display: none;">
        <p>管理员</p>
        <form method="post">
            <label for="sfound">项目</label>
            <select name="sfound" id="sfound" required>
                {% for p in project %}
                <option value="{{p['name']}}">{{p['name']}}</option>
                {% endfor %}
            </select>
            <label for="sperson">二级基金</label>
            <select name="sperson" id="sperson" required>
                {% for p in person %}
                <option value="{{p['username']}}">{{p['username']}}</option>
                {% endfor %}
            </select>
            <br />
            <label for="rmb">捐款人民币</label>
            <input name="rmb" id="rmb" required />
            <br />
            <input type="submit" value="确定" />
        </form>
    </div>
{% elif account_type == 1 %}
    <div id="donate" data-role="page" style="display: none;">
        <p>二级基金管理员</p>
        <form method="post">
            <label for="sfound">项目</label>
            <select name="sfound" id="sfound" required>
                {% for p in project %}
                <option value="{{p['name']}}">{{p['name']}}</option>
                {% endfor %}
            </select>
            <label for="sperson">负责人</label>
            <select name="sperson" id="sperson" required>
                {% for p in person %}
                <option value="{{p['username']}}">{{p['username']}}</option>
                {% endfor %}
            </select>
            <br />
            <label for="rmb">捐款人民币</label>
            <input name="rmb" id="rmb" required />
            <br />
            <input type="submit" value="确定" />
        </form>
    </div>
{% elif account_type == 2 %}
    <div id="donate" data-role="page" style="display: none;">
        <p>donate</p>
        <form method="post">
            <label for="rmb">捐款人民币</label>
            <input name="rmb" id="rmb" type="number" required />
            <br />
            <label for="sfound">项目</label>
            <select name="sfound" id="sfound" required>
                {% for p in project %}
                <option value="{{p['name']}}">{{p['name']}}</option>
                {% endfor %}
            </select>
            <br />
            <input type="submit" value="确定" />
        </form>
    </div>
{% elif account_type == 3 %}
    <div id="donate" data-role="page" style="display: none;">
        <p>受捐助负责人</p>
        <form method="post">
            <label for="rmb">捐款人民币</label>
            <input name="rmb" id="rmb" required />
            <br />
            <label for="sfound">项目</label>
            <select name="sfound" id="sfound" required>
                {% for p in project %}
                <option value="{{p['name']}}">{{p['name']}}</option>
                {% endfor %}
            </select>
            <br />
            <input type="submit" value="确定" />
        </form>
    </div>
{% endif %}
    <div id="record" data-role="page" style="display: none;">
        <p>项目记录</p>
        <form method="get">
            <label for="viewfound">项目</label>
            <select name="viewfound" id="viewfound" required>
                {% for p in project %}
                <option value="{{p['name']}}">{{p['name']}}</option>
                {% endfor %}
            </select>
            <br />
            <input type="submit" value="确定" />
        </form>
    </div>
<div id="foundation" data-role="page" style="display: none;">
    <p>基金会</p>
</div>
<script src="/static/scripts/view.js"></script>
{% endblock %}